@mixin font_title($size, $line-height: 1.2, $color: $black) {
    font-family: 'Chococooky';
    font-size: $size;
    line-height: $line-height;
    color: $color;
}

@mixin font_text($size, $line-height: 1.2, $color: $black, $isBold: false) {
    font-family: 'Inter';
    font-size: $size;
    line-height: $line-height;
    color: $color;
    @if $isBold {
        font-weight: 500;
    } @else {
        font-weight: 300;
    }
}