@font-face {
    font-family: "Chococooky";
    src: url("./assets/fonts/Chococooky.woff") format("woff"),
        url("./assets/fonts/Chococooky.woff2") format("woff2");
}
@font-face {
    font-family: "Inter";
    font-weight: 300;
    src: url("./assets/fonts/Inter-Light.woff") format("woff"),
        url("./assets/fonts/Inter-Light.woff2") format("woff2");
}
@font-face {
    font-family: "Inter";
    font-weight: 500;
    src: url("./assets/fonts/Inter-Medium.woff") format("woff"),
        url("./assets/fonts/Inter-Medium.woff2") format("woff2");
}
 