.album {
    width: 100%;

    &-container {
        @extend .container;
    }

    &-banner {
        background-color: $purple;
        border-radius: 25px;
        padding: 32px 38px;
        width: 100%;
        display: flex;
        align-items: flex-end;

        &--pic {
            width: 200px;
            height: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            overflow: hidden;
        }

        &--img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &-infos {
        margin: 0 0 0 35px;
        display: flex;
        flex-direction: column;
    }
    
    &-type {
        @include font_text(16px);
    }

    &-details {
        display: flex;
        margin: 5px 0 0;
        &--artists {
            margin: 0 6px 0 0;
            @include font_text(16px, 1.2, $black, true);
        }

        &--item {
            position: relative;
            display: flex;
            align-items: center;
            margin: 0 6px 0 0;
            @include font_text(16px, 1.2, $black, true); 

            &:before {
                content: "";
                display: block;
                position: relative;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: $black;
                margin: 0 6px 0 0;
            }
        }
    }

    &-tracks {
        margin: 50px 0 0;
    }

    &-tracks {
        width: 100%;
    }
}
